body{
    background-color: lightgrey;
    padding-top:20px;
  }
  
  #dPrincipal{
    width: 95%;
    background-color: #53bca6;
    margin: 0 auto;
    text-align: center;
    padding:0px;
    padding-bottom: 20px;
    border-radius: 10px;
    
  }
  
  h2{
  background-color: #07bc48;
    border-radius: 10px 10px 0 0;
    padding: 6px;
    border-bottom: 6px solid white;
    color: white;
    height: 60px;
  }
  
  #inputs{
  background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    padding-bottom: 15px;
  }
  
  #inputs div{
    text-align: left;
    padding: 15px;
  }
  
  #credits{
   width: 79%;
    margin: 0 auto;
    padding: 10px;
    text-align: right;
    color: white;
  }
  
  input,select{
    margin-top: 4px;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
  }
  
  #message{
    margin-top: 4px;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    resize: none;
  }
  
  img{
    width: 30px;
    margin-right: 10px;
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: green; 
    color: white; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid lightblue;
  }
  
  .button3:hover {
    background-color: lightblue;
    color: white;
  }